.job-list {
    padding: 20px;
    margin-top: 30px;
}

.job-cards-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
}

.no-job{
  text-align: center;
  color: gray;
}

@media (max-width: 768px) {
.job-cards-container {
    justify-content: center;
}
}

@media screen and (max-width: 1050px) {
    .job-cards-container {
      grid-template-columns: 1fr 1fr;
    }
  }
@media screen and (max-width: 670px) {
    .job-cards-container {
      grid-template-columns: 1fr;
    }
}