.job-card {
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

/* Heading styles */
.job-card h2 {
  margin-bottom: 10px;
}

.company-info {
  display: flex;
  align-items: center;
}

.company-icon {
  margin-right: 10px;
}

.company-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Company and location styles */
.company {
  color: gray;
  font-weight: 700;
}

.job-title {
  margin-top: -10px;
}

.location {
  color: gray;
  margin-top: -10px;
}

/* Salary styles */
.job-card p.salary {
  margin-top: 15px;
  color: gray;
}

/* About company heading */
.about-company {
  margin-top: 0;
}

/* About us title */
.about-us-title {
  margin-top: -20px;
}

.description-container {
  margin-bottom: 10px;
}

.description {
  width: 100%;
  text-decoration: none;
    line-height: 1.5;
    max-height:250px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(#000, #fff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.view-job {
  position: absolute;
  transform: translateX(200%);
}

.view-job a {
  color: purple;
  cursor: pointer;
  text-decoration: none;
}

/* Posted timestamp */
.posted {
  display: inline-block;
  padding: 7px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 10px;
}

/* Apply and unlock buttons */
.job-card button {
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.apply-button {
  background-color: rgb(85, 239, 196);
  color: #000;
}

.unlock-button {
  background-color: #1a73e8;
  color: #fff;
}

/* Minimum experience text */
.min-exp {
  font-weight: bold;
  margin-top: 50px;
  color: gray;
}

/* Experience text */
.exp {
  font-weight: bold;
  margin-top: -5px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .job-card {
    border-radius: 15px;
    padding: 15px;
  }
  
  .description {
    max-height: 80px;
  }
  
  .view-job {
    transform: translateX(160%);
  }
  
  .posted {
    padding: 5px;
    font-size: 9px;
  }
  
  .job-card button {
    padding: 10px 20px;
  }
}
